
.modal{
    padding: 50px;
    background: #ccc;
    position: fixed; top: 50%; left: 50%;
    webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.test{
    max-width: 25%;
    height: auto;
}
.outer{
   display: flex;
    align-items: center;
}


.inner{


}



.amount span {
    display:inline-block;
    width:20px;
    height:20px;
    background:#ededed;
    cursor:pointer;
    text-align:center;
}
.amount span:hover {
    background:#dfdfdf;
}
.amount input {
    width:30px;
    text-align:center;
}
.testPict{
    display: inline-block;
    flex: content-box;
    width: auto;
    height: auto;
}
.text_basket{
    font-weight: bolder;
}

.cust_img{
    float: left;
    width:  120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px
}

.custom_fonte{
    max-font-size: 30px;
    min-font-size: 10px;
}
.bot{
    border-bottom: 4px gray;
    background: white;
}

.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

.text{
    font-weight: normal;

}
.newLinee{
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0 1px;
}
.noLine{
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.digit
{
    text-align: center;
    float: none;
    margin-left: 50%;
    margin-right: 50%;
}

.space{
    margin:-30px;

}


.cardposit{
    display: flex;
    flex-wrap: wrap;
}

.linee{
    padding:10px;
    box-shadow: 0 0 1px;
}

.card-title{
    text-transform: uppercase;
}


.item {
    margin: 15px 15px 15px;
    flex-grow: 0;
}


.navbar{
    box-shadow: 0 0 1px;
    padding: 10px;


}

.container-my {

    margin-right: 15px ;
    margin-left: 15px ;

}
